# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.lyx~

src/CMakeFiles/3\.5\.1/

src/CMakeCache\.txt

src/CMakeFiles/

src/exampleVideos/

src/data/

src/main

*.cmake

src/Makefile

documents/#Logbook\.lyx#

MultiObjectTLD/CMakeFiles/

MultiObjectTLD/input/carchase/

MultiObjectTLD/input/motocross/

MultiObjectTLD/input/

MultiObjectTLD/runtime\.txt

*.lyx#

MultiObjectTLD/CMakeCache\.txt

MultiObjectTLD/camExample

MultiObjectTLD/Makefile

src/MultiObjectTLD/CMakeFiles/3\.5\.2/

src/MultiObjectTLD/CMakeFiles/

src/MultiObjectTLD/input/carchase/

src/MultiObjectTLD/input/motocross/

src/MultiObjectTLD/CMakeCache\.txt

src/people/

src/dataExtraction

src/people*

src/__pycache__/

src/output/*

src/test/

*.h5

*.pb

*.png

src/newData/

src/oldData/

src/oldCode/__pycache__/

documents/Adv-Project-L4-Final-Paper-Form-Individual\.pdf

documents/Adv-Project-L4-Oral-Mark-Form-Individual\.pdf
